<html lang="ja" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />

    <title></title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>

  <body>
    <div id="root" style="display: contents">
      {{> @partial-block}}
    </div>
  </body>
</html>