{{#> layout }}
<div>
  <h1>React 18 Example</h1>

  <div>
    {{#each pages}}
      <button type="button" style="background-color: var(--focus);">
        {{.}}
      </button>
    {{/each}}
  </div>

  <progress style="visibility: hidden;" }>
    Loading...
  </progress>

  <table style="table-layout: auto;">
    <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>COMPLETED</th>
      </tr>
    </thead>

    <tbody>
      {{#each todos}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>
            {{#if completed}} YES {{else}} NO {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/layout}}